:root {
  --colorStart: #ff80ff;
  --colorEnd: #ffff80;
  --direction: to top right;
  --gradient: linear-gradient;

}

html {
  min-height: 100%;
  overflow: auto;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  min-width: 500px;
  margin: 0;
  padding: 0;

  background-image: linear-gradient(var(--direction), var(--colorStart), var(--colorEnd));
  background-size: cover;
  background-repeat: no-repeat;
}



.visually-hidden:not(:focus):not(:active),
input[type="color"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1 {
  font-size: 50px;
  font-family: 'Raleway', Ariel, sans-serif;
  /* text-shadow: 4px 4px 12px rgba(136,35,164,0.57); */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.colors {
  width: 330px;
  margin: 0 auto;
}

label {
  position: relative;

  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 50px;
  margin-right: 10px;

  cursor: pointer;
}

.indicator {
  border-radius: 50%;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}

.color-start {
  background: var(--colorStart);
}

.color-end {
  background: var(--colorEnd);
}

input {
  appearance: none;
  border: none;
  outline: none;
}

input[type="color"] + div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrows {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin: 0 100px;
}

.direction {
  font-size: 40px;
}

.top-right {
  transform: rotate(45deg);
}

.right {
  transform: rotate(90deg);
}

.bottom-right {
  transform: rotate(135deg);
}

.bottom {
  transform: rotate(180deg);
}

.bottom-left {
  transform: rotate(-135deg);
}

.left {
  transform: rotate(-90deg);
}

.top-left {
  transform: rotate(-45deg);
}

code {
  display: block;
  position: relative;

  box-sizing: border-box;
  width: 70%;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 35px 55px 20px 20px;
  border: 1px solid red;

  font-size: 20px;

  background-color: rgba(233, 227, 205, 0.6);
  border-color: rgba(233, 227, 205, 1);
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}

.button {
  position: absolute;
  top: 30%;
  right: 10px;

  padding-right: 10px;

  font-size: 40px;
  color: #322c16;
}

.radial-grad {
  background-image: radial-gradient(var(--colorStart), var(--colorEnd));
}
